
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


$blue:#5f9ea0;
$red:#bb4444;
$yellow: #7b7d7b;



*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.app{
  background-color: $yellow;
  margin-top: 50px;
  margin-right: 20px;
  color: white;
  padding-top: 37px;
}

.start{
  background-color: $blue;
  border-radius: 0;
  border-style: hidden;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.start:hover{
  background-color: darken($blue, 10);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.post-form{
  border: 8px solid $blue;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.post-form input{
  margin: 10px;
}

.submit-button{
  background-color: $yellow;
  border-style: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.submit-button:hover{
  background-color: darken($yellow, 14);
}

h3{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.post-title{
  text-align: center;
}

h1{
  font-family: 'Oswald', sans-serif;
}

.posts a{
  color:white;
  text-decoration: none;
}

.posts h4 {
  font-family: 'Roboto', sans-serif;
}

.btn-danger{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-bottom: 10px;
}
